
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.shadow {
  margin: auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:disabled,
.button:disabled:hover {
  cursor: default;
  background-color: #E5E5E5;
  outline: none;
}

.logo-sedona-image {
  display: block;
  width: 140px;
  height: 70px;
}

.logo {
  position: relative;
  margin-bottom: -6px;
}

/* Navigation */
.page-header {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  min-height: 64px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 892px;
  margin-left: 28px;
}

.navigation-item-user {
  height: 64px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  width: calc(100% - 32px);
  bottom: -1px;
  left: 16px;
  height: 2px;
  content: " ";
  background-color: #756257;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current:hover,
.navigation-link-current:active,
.navigation-link-current:focus,
.navigation-link-current:focus-visible {
  opacity: 1;
  cursor: default;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-item .navigation-user-link {
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link-search {
  background-image: url("../images/search.svg");
}

.navigation-user-link-favorites {
  background-image: url("../images/heart.svg");
  position: relative;
}

.navigation-user-link {
  display: block;
  height: 100%;
  width: 44px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.button-want-here {
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding: 6px;
  margin-top: 14px;
  margin-left: 20px;
  border: 2px solid transparent;
}

.button-want-here:hover,
.button-want-here:focus {
  background-color: #615048;
  outline: none;
}

.button-want-here:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-want-here:focus-visible {
  background-color: #615048;
  border: 2px solid #68A2CA;
  outline: none;
}

.favorites-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
}

/* Main */
.hero {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #3699bd;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-logo {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero::after {
  display: block;
  background: url("../images/divider.svg");
  width: 1200px;
  height: 57px;
  margin-top: -57px;
  background-repeat: no-repeat;
  content: " ";
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  margin: 0;
  padding: 69px 285px 25px 285px;
  width: 630px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 69px;
}

/* List Advantages */
.small-town {
  width: 1200px;
  background-color: #ffffff;
}

.text-main {
  padding-bottom: 90px;
}

.advantages {
  background-color: #ffffff;
}

.advantages-image {
  width: 800px;
}

.advantages-block {
  display: flex;
  flex-direction: column;
  padding: 113px 85px 112px 85px;
}

.advantages-block-with-picture {
  padding: 102px 84px 102px 84px;
}

.advantages-item {
  display: list-item;
  width: 400px;
  background-color: #82B3D3;
}

.advantages-item-with-picture {
  display: flex;
  min-height: 385px;
  width: 100%;
  background-color: #82B3D3;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-title {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.advantages-title::before {
  display: flex;
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  content: " ";
  background: rgba(0, 0, 0, 0.3);
}

.advantages-title-white {
  color: #ffffff;
}

.advantages-title-white::before {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  width: 232px;
  margin: 0;
  text-align: center;
}

.advantages-description-white {
  color: #ffffff;
}

/* List Services*/
.come-to-sedona {
  width: 1200px;
  background-color: #ffffff;
}

.title-come-sedona {
  padding: 64px 285px 20px 285px;
}

.text-come-sedona {
  padding-bottom: 64px;
}

.services-title {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.services-description {
  margin: 0;
  text-align: center;
}

.services-item {
  width: 400px;
  min-height: 385px;
  background-color: #82B3D3;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background-color: #ffffff
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  background-color: #ffffff;
}

.services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 183px 85px 81px 85px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.services-block-house {
  background-image: url("../images/services-house.svg");
}

.services-block-food {
  background-image: url("../images/services-food.svg");
}

.services-block-gift {
  background-image: url("../images/services-gift.svg");
}

/* Search*/
.search-hotel {
  padding-bottom: 96px;
  width: 1200px;
  text-align: center;
  background-color: #ffffff;
}

.title-search-hotel {
  padding: 96px 285px 20px 285px;
}

.text-search-hotel {
  padding-bottom: 54px;
}

.search-button {
  width: 375px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #615048;
}

.search-button:focus-visible {
  background-color: #615048;
  border: 2px solid #68A2CA;
  outline: none;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* Mail*/
.mail {
  min-height: 414px;
  background-image: url("../images/blurred-background-on the-main-page.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
  background-color: #3699bd;
}

.mail-hotels {
  width: 1200px;
  text-align: center;
  background-color: #ffffff;
}

.mail-form {
  display: flex;
  margin-top: 55px;
}

.mail-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 258px 105px 258px;
}

.mail-block-hotels {
  padding: 156px 258px 104px 258px;
}

.mail-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.mail-title-hotels {
  color: #000000;
}

.mail-description {
  margin: 0;
  padding-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

.mail-description-hotels {
  color: #333333
}

.mail-button {
  box-sizing: border-box;
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: #82B3D3;
}

.mail-button:hover,
.mail-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.mail-button:focus-visible {
  background-color: #68A2CA;
  border: 2px solid #82B3D3;
  outline: none;
}

.mail-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

/* Footer*/
.footer-contacts a {
  font-family: inherit;
  font-style: normal ;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 44px 69px 35px 70px;
  background-color: #ffffff;
}

.footer-social {
  width: 140px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-site-htmlacademy {
  width: 115px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.htmlacademy-link {
  display: flex;
}

.icon-htmlacademy-path {
  fill: #000000;
}

.htmlacademy-link:hover .icon-htmlacademy-path,
.htmlacademy-link:focus .icon-htmlacademy-path {
  fill: #756157;
}

.htmlacademy-link:active .icon-htmlacademy-path {
  fill: rgba(117, 97, 87, 0.3);
}

.social-vk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-telegram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.icon-path {
  fill: #83B3D3;
}

.social-link:hover .icon-path,
.social-link:focus .icon-path {
  fill: #68A2CA;
}

.social-link:active .icon-path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-adress-phone:hover,
.footer-contacts-adress-phone:focus {
  color: #756157
}

.footer-contacts-adress-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Hotels */
/* Main */

.inner-header {
  min-height: 377px;
  margin: 0;
  padding: 35px 70px 0 70px;
  color: #ffffff;
  background-image: url("../images/catalog/blurred-background-on-the-catalog-page.jpg");
  background-size: cover;
  background-color: #3699bd;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumbs-link {
  display: inline-block;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item .breadcrumbs-link {
  width: 13px;
  height: 15px;
  background-image: url("../images/catalog/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item:not(:last-child)::after {
  display: inline-block;
  width: 8px;
  height: 20px;
  content: " ";
  background-image: url("../images/catalog/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-point {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

/* Filter */
.filters {
  padding: 0;
  margin-top: 40px;
}

.hotels-filter-price {
  height: 160px;
  width: 288px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border: none;
}

.hotels-filter-price-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.hotels-filter-group {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.hotels-filter-item:not(last-child) {
  padding-bottom: 16px;
}

.hotels-filter-list {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style-type: none;
}

.hotels-columns {
  display: flex;
  flex-wrap: wrap;
}

.hotels-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

/* Label */
.control {
  position: relative;
  display: block;
  padding-left: 35px;
}

.control-mark {
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  background-color: #747272;
}

.control-input:focus-visible + .control-mark {
  outline: #83B3D3 solid 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  display: block;
  width: 12px;
  height: 10px;
  margin: 6px 4px 4px 4px;
  content: " ";
  background: url("../images/catalog/checkmark.svg");
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  margin: 5px;
  width: 10px;
  content: " ";
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}

/* Button */
.button-filter {
  display: flex;
  flex-direction: column;
  border: none;
  margin-left: 70px;
  margin-top: 56px;
}

.button-accept {
  margin-bottom: 32px;
  min-height: 36px;
  width: 191px;
  background-color: #82B3D3;
  border: none;
}

.button-accept:hover {
  background-color: #68A2CA;
}

.button-accept:focus,
.button-accept:focus-visible {
  background-color: #68A2CA;
  outline: none;
  border: 2px solid #83B3D3;
}

.button-accept:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-reset {
  min-height: 36px;
  width: 191px;
  background-color: transparent;
  border: none;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  border: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.button-reset:focus,
.button-reset:focus-visible {
  background-color: none;
  border: 2px solid #82B3D3;
  outline: none;
}

.button-reset:disabled {
  color:#ffffff;
  outline: none;
}

/* Range*/
.price-from {
  margin-bottom: 0;
  margin-left: -40px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.price-before {
  margin-bottom: 0;
  margin-left: -44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.price {
  padding-left: 18px;
  padding-right: 50px;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-style: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border:  2px solid transparent;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.price-label {
  border-radius: 0 4px 4px 0;
}

.price:hover {
  background-color: #E6E6E6
}

.price:not(:placeholder-shown):focus {
  border: 2px solid #000000;
  outline: none;
}

.price:focus-visible {
  outline: 3px solid #83B3D3;
}

.price:disabled {
  background-color: #747272;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  width: 143px;
}

.catalog-filter-label:not(:last-child) {
  margin-right: 3px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.range-toggle:focus-visible {
  border: 3px solid #83B3D3;
  outline: none;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -2px;
}

/* Sorting */
.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  min-height: 49px;
  padding: 50px 70px 0 70px;
  margin-bottom: 40px;
  color: #000000;
  background-color: #ffffff;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-grid-toggle:hover,
.card-grid-toggle:active {
  border: 2px solid #000000;
}

.card-grid-toggle:focus,
.card-grid-toggle:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-grid-toggle-current svg {
  border-color: #000000;
}

.select-control {
  width: 292px;
  padding: 10px 44px 10px 18px;
  -webkit-appearance: none;
          appearance: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.select-control:hover,
.select-control:active,
.select-control:focus,
.select-control:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.page-display {
  display: flex;
  gap: 8px;
  margin-left: auto;
  flex-wrap: wrap;
  width: 160px;
}

/* Hotel card */
.hotel-card-container {
  background-color: #ffffff;
}

.hotel-card {
  width: 340px;
  min-height: 438px;
  list-style: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-inside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  grid-template-areas:
    "hotel-card-image hotel-card-image"
    "hotel-card-title hotel-card-title"
    "hotel-card-type hotel-card-price"
    "button-more button-add-to-favorites"
    "stars hotel-card-rating";
  padding: 20px;
}

.stars-1 {
  width: 89px;
  background-image: url("../images/catalog/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
}

.stars-3 {
  width: 69px;
  background-image: url("../images/catalog/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
}

.stars-4 {
  width: 42px;
  background-image: url("../images/catalog/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
}

.hotel-card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: block;
  grid-area: hotel-card-image;
  grid-row: 1 / -1;
}

.hotel-card-image {
  width: 300px;
}

.hotel-card-main {
  display: flex;
  max-width: 400px;
  margin: 0;
  margin-right: 201px;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: hotel-card-type;
}

.hotel-card-price {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: hotel-card-price;
  margin-left: auto;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  gap: 17px;
  margin-top: 0;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-rating {
  padding: 8px;
  color: #333333;
  text-decoration: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.button-add-to-favourites {
  box-sizing: border-box;
  background-color: #82B3D3;
}

.button-add-to-favourites:hover,
.button-add-to-favourites:focus {
  background-color: #68A2CA;
}

.button-add-to-favourites:focus-visible {
  background-color: #68A2CA;
  border: 2px solid #615048;
  outline: none;
}

.button-add-to-favourites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-add-in-favourites {
  box-sizing: border-box;
  background-color: #7DB54F;
}

.button-add-in-favourites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.button-add-in-favourites:hover,
.button-add-in-favourites:focus {
  background-color: #6C9E42;
}

.button-add-in-favourites:focus-visible {
  background-color: #6C9E42;
  border: 2px solid #615048 ;
  outline: none;
}

.button-more {
  box-sizing: border-box;
  padding: 6px;
  border: 2px solid transparent;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-more:hover,
.button-more:focus {
  background-color: #615048;
}

.button-more:focus-visible {
  background-color: #615048;
  border: 2px solid #68A2CA;
  outline: none;
}

/* Pagination */
.catalog {
  min-height: 60px;
  padding: 79px 0 0 70px;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: flex;
  padding: 10px 11px;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  color: #ffffff;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
}

.pagination-item {
  min-height: 60px;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:focus-visible {
  background-color: #68A2CA;
}

.pagination-item:active {
  background-color: #82B3D3;
}

.pagination-item-point {
  height: 60px;
  margin-right: 8px;
  list-style: none;
  text-align: center;
  background-color: #ffffff;
}

.pagination-active {
  min-height: 60px;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  background-color: #F2F2F2;;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-active:hover,
.pagination-active:active
.pagination-active:focus,
.pagination-active:focus-visible {
  background-color: #F2F2F2;
  border: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-point {
  display: block;
  padding: 21px;
  font-style: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* Input */
.field {
  box-sizing: border-box;
  width: 452px;
  min-height: 52px;
  padding-left: 17px;
  padding-right: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid transparent;
  border-radius: 4px 0 0 4px;
}

.field:hover,
.field:active,
.field:focus,
.field:focus-visible {
  border: 3px solid #83B3D3;
  outline: none;
}

.field:disabled,
.field:disabled:hover {
  background-color: #E5E5E5;
  border: none;
}

.field:not(:placeholder-shown) {
  border: 2px solid #000000;
  outline: none;
}

.field-hotels {
  background-color: #f2f2f2;
}

/* Modal */
.modal-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.modal-search {
  width: 717px;
  box-sizing: border-box;
  border-radius: 30px;
}

.modal-close-button {
  display: flex;
  position: absolute;
  padding: 0;
  right: 52px;
  top: 64px;
  width: 52px;
  min-height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
}

.modal-close-button svg {
  margin: auto;
}

.icon-cross-path {
  fill: #000000;
}

.icon-cross-path:active {
  fill: #000000;
  opacity: 0.3;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  border: none;
}

.modal-close-button:active path {
  fill: #000000;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.block-date-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-group-date {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.field-date {
  box-sizing: border-box;
  width: 440px;
  font-family: inherit;
  font-size: 18px;
  padding: 0 0 0 20px;
  line-height: 24px;
  font-weight: 700;
  height: 48px;
  color: #000000;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px bottom 14px;
}

.field-date:hover {
  background-color: #E6E6E6;
}

.field-date:not(:placeholder-shown):focus {
  border: 2px solid #000000;
  outline: none;
}

.field-date:focus-visible {
  outline: 3px solid #83B3D3;
}

.field-date:disabled {
  background-color: #E5E5E5;
}

.icon-minus-path,
.icon-plus-path {
  fill: #756157;
  opacity: 0.3;
}

.search-form-button {
  width: 577px;
  min-height: 60px;
  padding: 0;
  margin-top: 48px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
}

.search-form-button:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.search-form-button:focus,
.search-form-button:focus-visible  {
  background-color: #68A2CA;
  outline: none;
}

.search-form-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.text-under {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FF5757;
  margin: 4px 0 23px 157px;
}

.text-red {
  margin: 4px 0 23px 157px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FF5757;
}

.text-black {
  color: #333333;
}

.guests-quantity-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults-counter-block {
  display: flex;
  justify-content: space-between;
  width: 247px;
  min-height: 48px;
  align-items: center;
}

.child-counter-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 242px;
  min-height: 48px;
}

.adults {
  margin-right: 46px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.child-label {
  display: inline-flex;
  justify-content: space-between;
  width: 85px;
  align-items: center;
}

.child {
  margin-top: 0;
  margin-bottom: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.switch {
  display: inline-flex;
  margin-left: auto;
}

.adults-child-block {
  display: inline-flex;
  width: 110px;
  height: 48px;
}

.adults-child-minus,
.adults-child-plus {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 40px;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.adults-child-minus:hover .icon-minus-path,
.adults-child-plus:hover .icon-plus-path {
  fill: #000000;
  opacity: 1;
}

.adults-child-minus:active .icon-minus-path,
.adults-child-plus:active .icon-plus-path {
  fill: #000000;
  opacity: 0.3;
}

.adults-child-minus:focus-visible,
.adults-child-plus:focus-visible {
  fill: #000000;
  opacity: 1;
  outline: none;
}

.adults-child-minus svg,
.adults-child-plus svg {
  margin: auto;
  background-color: (117, 97, 87, 0.3);
}

.adults-child-minus:focus-visible svg {
  padding: 9px 3px 9px 3px;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  outline: none;
}

.adults-child-plus:focus-visible svg {
  padding: 3px;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  outline: none;
}

.adults-child-minus:focus-visible path,
.adults-child-plus:focus-visible path {
  fill: #000000;
  opacity: 1;
}


.adults-child {
  width: 31px;
  height: 48px;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-align: center;
  background-color: #F2F2F2;
  border: none;
}

.circle-round-block {
  position: relative;
}

.circle-round-i {
  flex-shrink: 0;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  background-image: url("../images/i.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: help;
  border: none;
}

.pop-up {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  left: -119px;
  margin: 0;
  width: 256px;
  background-color: #333333;
  border-radius: 10px;
  z-index: 1;
  display: none;
}

.pop-up::after {
  display: block;
  position: absolute;
  top: -8px;
  left: calc(50% - 9px);
  width: 19px;
  height: 9px;
  content: " ";
  background: url("../images/triangle.svg");
  background-repeat: no-repeat;
}

.text-inside-pop-up {
  padding: 21px 18px 23px 23px;
  margin: 0;
  margin-top: 21px;
  margin-left: 4px;
  width: 216px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.circle-round-i:hover + .pop-up,
.circle-round-i:focus + .pop-up {
  display: block;
}

.circle-round-i .pop-up {
  opacity: 0;
}

.circle-round-i:hover .pop-up {
  opacity: 1;
}

.circle-round-i:focus .pop-up {
  opacity: 1;
}

.circle-round-i:focus-visible .pop-up {
  opacity: 1;
}
