@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}


/* Navigation */
.page-header {
  margin: 0 auto;
  padding: 0;
  width: 1060px;
}

.navigation-logo {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  width: 470px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 300px;
  padding: 0;
  margin: 0 0 0 auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}


/* Main */
.hero {
  color: #000000;
  background-color: #3699bd;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 485px;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color:#000000
}

.text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333
}


/* List Advantages */
.advantages-item {
  background-color: #82B3D3;
  height: 385px;
  width: 400px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(6) {
  width: 800px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  list-style: none;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color:#000000
}

.advantages-title-white {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color:#ffffff
}

.advantages-description {
  text-align: center;
}

.advantages-description-white {
  text-align: center;
  color: #ffffff
}


/* List Services*/
.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color:#000000
}

.services-description {
  text-align: center;
}

.services-item {
  background-color: #82B3D3;
  height: 385px;
  width: 400px;
}

.services-item:nth-child(1),
.services-item:nth-child(3) {
  background-color:rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2) {
  background-color:#ffffff
}

.services-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  list-style: none;
}


/* Mail*/
.mail {
  background-image: url("../images/blurred background on the main page.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color:#000000;
  background-color:#3699bd;
  height: 414px;
}

.mail-hotels {
  text-align: center;
  width: 1200;
  height: 415px;
}

.mail-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color:#ffffff;
}

.mail-title-hotels {
  color:#000000;
  text-transform: uppercase;
}

.mail-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: #ffffff
}

.mail-description-hotels {
  color: #333333
}

.mail-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}


/* Search*/
.search-hotel {
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}


/* Footer*/
.footer-contacts a {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.page-footer-container {
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  }

.footer-social {
  width: 180px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-site-htmlacademy {
  width: 115px;
  padding: 0;
  margin: 0 0 0 auto;
}


/* Hotels */

/* Main */

.inner-header {
  background-image: url("../images/catalog/blurred background on the catalog page.jpg");
  color: #ffffff;
  background-size: 100% auto;
  background-color: #3699bd;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 412px;
  margin: 0;
  padding: 0;
}

.inner-header-information {
  width: 1060px;
  height: 307px;
  margin: 0 auto;
  padding: 0;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  padding: 0;
}



/* Breadcrumbs */
.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-hotels {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
}

.hotels-filter-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  height: 160px;
  width: 288px;
}

.filters {
  margin: 0 auto;
  padding: 0;
  width: 1060px;
}

.hotels-filter-group {
  height: 157px;
  width: 150px;
}

.hotels-filter-item {
  list-style: none;
}

.hotels-filter-list {
  margin: 0;
  padding: 0;
}

.hotels-columns {
  display: flex;
  justify-content: space-between;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}


/* Label */
.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}


/* Button */
.button-filter {
  display: flex;
  flex-direction: column
}

.button-accept {
  background-color: #82B3D3;
  height: 36px;
  width: 191px;
}

.button-reset {
  background-color: transparent;
  border: none;
  height: 36px;
  width: 191px
}

.price-controls {
  height: 48px;
  width: 288px;
  display: flex;
  justify-content: space-between;
}


/* Sorting */
.sorting-container {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 49px;
  width: 1060px;
  margin-left: 70px;

}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  margin-left: 201px;
}

.page-display {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}


/* Button */
.button-active {
  color: #ffffff;
  background-color: #333333;
  width: 48px;
  height: 48px;
}


/* Products */
.catalog-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  height: 896px;
  padding: 0;
  margin-left: 70px;
}

.hotel-card {
  width: 340px;
  height: 438px;
  list-style: none;
  border: 1px solid #000;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-list {
  width: 1060px;
  height: 896px;
  padding:0;
}

/* Link */
.hotel-card-link {
  text-decoration: none;
}

.hotel-card-rating {
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
}

.button-add-to-favorites {
  background-color: #82B3D3;

}

.button-add-in-favorites {
  background-color: #7DB54F;
}

/* Pagination */

.pagination {
  background-color: #ffffff;
  display: flex;
  width: 1060px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
}

.pagination-item {
  list-style: none;
  height: 60px;
  width: 60px;
  background-color: #82B3D3;
}

.pagination-active {
  background-color: #F2F2F2;
}



/* Input */
.field {
  font-family: "PT Sans";
}


